
.particle {
    position: absolute;
    background-color: #fff; /* Color of the particles */
    width: 3px;
    height: 3px;
    border-radius: 50%;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
